@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");

body {
    background-color: #dc2d52;
}
.App {
    text-align: center;
}
.textTitle {
    font-family: "Single Day", cursive;
    color: white;
}
.textBody {
    font-family: "Single Day", cursive;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}
.yesButton {
    font-family: "Single Day", cursive;
    background-color: white;
    border-radius: 20px;
    color: #dc2d52;
    border-width: 0px;
    width: 90%;
    margin: 10px 5%;
}
.noButton {
    font-family: "Single Day", cursive;
    background-color: white;
    border-radius: 20px;
    color: #dc2d52;
    border-width: 0px;
    height: 32px;
    font-size: 16px;
    width: 90%;
    margin: 10px 5%;
}
.buttonDiv {
    display: grid;
}
